      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li {% if objects_list.site.menu == '/' %} class="selected" {% endif %}>
            <a href="/">Главная</a></li>

          <li {% if objects_list.site.menu == '/category-list/' %} class="selected" {% endif %}>
            <a href="/category-list/">Категории</a></li>

            <li {% if objects_list.site.menu == '/students-list/' %} class="selected" {% endif %}>
            <a href="/students-list/">Студенты</a></li>


          <li {% if objects_list.site.menu == '/contacts/' %} class="selected" {% endif %}>
            <a href="/contact/">Контакты</a></li>
            <li {% if objects_list.site.menu == '/create_test/' %} class="selected" {% endif %}>
            <a href="/create_test/">Test data</a></li>
        </ul>
      </div>