      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li {% if menu == 'main' %} class="selected" {% endif %}>
            <a href="/">Домой</a>
            </li>
          <li><a href="examples.html">Examples</a></li>
          <li><a href="page.html">A Page</a></li>
          <li><a href="another_page.html">Another Page</a></li>
          <li {% if menu == 'contacts' %} class="selected" {% endif %}>
            <a href="/contact/">Контакты</a>
            </li>
        </ul>
      </div>